﻿html,
body {
    font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif; /* otherwise wrong font in iframe */
    font-size: 13px;
}

input, select, label, textarea, button, option {
    vertical-align: middle;
}

#c {
    padding-right: 1px; /* otherwise no border in IE10 */
}

/* replace site logo */
.ms-siteicon-img {
    display: none !important;
}

.ms-siteicon-a {
    display: block;
    position: relative;
    background-image: url('../../Images/AppIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 64px;
    height: 64px;
    background-size: 64px;
}

/* hide site logo for printing; fix bug with missing header during printing */
@media print {
    .ms-siteicon-a {
        display: none;
    }
    .ms-siteicon-img {
        display: none !important;
    }
    .fc-scroller {
        margin: 0 !important; 
    }
}

.fc-timeline-event,
.fc-event {
    text-align: center;
    -ms-touch-action: none; /* otherwise drag and drop not working in IE on touchscreen */
    touch-action: none; /* for Edge 13+*/
}

.fc-event {
	cursor: pointer;
	font-size: 1em;
}

.fc-unthemed .fc-today {
    background-color: #f5fbff; 
}

.fc-cell-text {
    cursor: default; /* resource names */
}

.fc h2,
h2.fcPopupHeader {
    text-transform: uppercase;
    font-size: 1.46em;
    font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    color: #262626;
    font-weight: 300;
}

h2.fcPopupHeader {
	background-color: #0071bd;
	margin-bottom: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

.fc-left {
    margin-bottom: 14px; /* left buttons align bottoms with right buttons so that to push down .fc-center to align in the middle when very narrow view*/
}

/* settings button */
.fc-toolbar .fc-left button {
    background: white;
    border: 1px solid #ccc;
    padding: 0;
    width: 36px;
    min-width: 36px;
    height: 36px;
    color: #666;
}

.fc-toolbar .fc-left button:hover {
    background-image: linear-gradient(to top, #eee, white);
    transition: background-image 0.3s ease-in;
}

.fc-toolbar .fc-left button.fc-leftCreateButton-button {
    min-width: 100px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 18px;
}

/* old settings button */
/* draw hamburger icon with shadows */
/*
.fc-toolbar .fc-left button {
    background: white;
    border: none;
    border-radius: 0;
    min-width: 30px;
    width: 30px;
    position: relative;
}

.fc-toolbar .fc-left button:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 24px;
    height: 5px;
    background: #666;
    box-shadow: 
        0 8px 0 0 #666, 
        0 16px 0 0 #666;
}
*/

.fc-toolbar .fc-right {
    position: relative;
}

.fc-right button {
	border-radius: 4px !important;
	margin-left: 7px !important;
}

.fc-button-group:first-child button {
    display: none; /* hide the right button, use button on the left */
	min-width: 7em;
	text-shadow: none !important;
	font-weight: bold;
}

/* hide filter button - not implemented yet */
.fc-button-group:first-child button:nth-of-type(2) {
    display: none;
}

/*.fc-button-group:first-child button:first-letter {*/
.fc-left button .fa {
	font-family: "FontAwesome" !important;
    font-size: 26px;
    line-height:34px;
    vertical-align: middle;
}

.fc-button-group:first-child button:hover {
	background-color: #00adef;
}

/* hide create button until we figure out that user is authorized */
.fc-button-group:first-child button:first-of-type {
	display: none;
}

.fc-button-group:nth-child(2) button {
	background-color: white;
	border: 1px solid #666;
	color: #666;
	padding: 0;
	font-weight: bold;
	min-width: 54px !important;
	max-width: 54px;
	width: 54px !important;
	font-size: 20px;
	padding-bottom: 12px; /* valign middle */
}

.fc-button-group:nth-child(2) button:hover {
	background-color: #aaa;
    color: white;
}

.fc-button-group:nth-child(2) button.fc-state-active {
	background: #666;
	color: white;
}

.fc-button-group:nth-child(2) button.fc-sevenDays-button:after,
.fc-button-group:nth-child(2) button.fc-fourteenDays-button:after,
.fc-button-group:nth-child(2) button.fc-basicWeek-button:after {
	content: "days";
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0;
	background: #666;
	font-size: 10px;
	color: white;
}

.fc-button-group:nth-child(2) button.fc-basicDay-button:after,
.fc-button-group:nth-child(2) button.fc-agendaDay-button:after,
.fc-button-group:nth-child(2) button.fc-timelineDay-button:after {
	content: "day";
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0;
	background: #666;
	font-size: 10px;
	color: white;
}

.fc-button-group:nth-child(2) button.fc-month-button:after {
	content: "month";
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0;
	background: #666;
	font-size: 10px;
	color: white;
}

.fc-button-group:nth-child(2) button {
	height: 50px;
	min-width: 4.5em;
	text-transform: uppercase;
}

.fc-right .fc-button-group:first-child {
    position: absolute;
    top: -32px;
    right: 0;
}

.fc .fc-button {
	background-color: #0071bd;
	color: white;
	border: 0;
	background-image: none;
}

.fc .fc-button:focus {
	outline-width: 0 !important;
}

.fc-button fc-state-default {
	background-color: #0100a6 !important;
	color: white;
	border: 0;
}

.fc .fc-next-button,
.fc .fc-prev-button {
	background: transparent;
	border: 0;
	color: #0100a6;
	box-shadow: none;
}

.fc .fc-next-button:hover,
.fc .fc-prev-button:hover {
	color: #00adef;
}

.modalPopup {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: scroll;/* scroll left/right on narrow screen */
}

.modalPopup > div {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
}

.modalPopup > div > div {
    display: table-cell;
    vertical-align: middle;
}

.modalPopup > div > div > div {
    display: inline-block;
    background: white;
    padding: 25px;
    box-shadow: 0 0 150px rgba(255, 255, 255, 0.5);
    position: relative;
    min-width: 750px; /* otherwise modal dialogs layout breaks; */
}

#cc-settings-screen.modalPopup > div > div > div {
    min-width: 600px; /* settings window is smaller */
}

#cc-settings-screen .cc-small-app-icon {
    vertical-align: bottom;
    margin-bottom: 1px;
    float: right;
    width: 28px;
    height: 28px;
}

#editScreen.modalPopup > div > div > div,
#createScreen.modalPopup > div > div > div {
    min-width: 390px;
}

.modalPopup label {
    display: inline-block;
    min-width: 120px;
    text-align: left;
    margin: 5px 10px 5px 0;
}

.modalColsContainer {
    position: relative;
}

.modalPopup .modalCol1,
.modalPopup .modalCol2 {
    width: 360px;
    min-height: 330px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

#filterScreen label {
    min-width: 250px;
}

#createScreen select,
#createScreen input,
#editScreen select,
#editScreen input {
    display: inline-block;
    text-align: left;
    min-width: 250px;
    width: 25%;
    box-sizing: content-box;
    margin-top: 6px;
    margin-bottom: 6px;

    height: 28px;
    line-height: 28px;
}

#createScreen input,
#editScreen input {
	min-width: 248px;
}

input.es-input {
	min-width: 229px !important;
}

#createScreen button.cc-button-ok,
#filterScreen button.cc-button-ok,
#editScreen button.cc-button-ok {
	background-color: #0071bd;
	color: white;
}

#createScreen button.cc-button-ok:hover,
#filterScreen button.cc-button-ok:hover,
#editScreen button.cc-button-ok:hover {
	background-color: #00adef;
	color: white;
}

.popupButtons {
    padding-top: 25px;
    position: relative;
    text-align: right;
}

.formErrorMessage {
	display: none;
	color: crimson;
	position: absolute;
	top: 3px;
	width: 100%;
	text-align: center;
}

#bookRoomScreen .formErrorMessage {
    top: -40px;
    left: 0;
    width: 200px;
    text-align: left;
}

.wrongInput {
	box-shadow: 0 0 5px crimson;
}

.hasBorderBottom {
    border-bottom: 1px solid #eee;
}

.deleteEvent {
	position: absolute;
	bottom: 33px;
	left: 25px;
}

.reallyDelete {
	position: absolute;
	bottom: 26px;
	left: 25px;
	display: none;
}

.deleteEvent span,
.reallyDelete span {
	cursor: pointer;
}

.reallyDelete p {
	margin: 0;
}

.deleteEventLink {
	color: #ccc;
	text-decoration: underline;
}

.deleteEventLink:hover {
	color: crimson;
}

.reallyDelete span:first-of-type {
	display: block;
	float: left;
	color: crimson;
	text-decoration: underline;
}

.reallyDelete span:first-of-type:hover {
	color: red;
}

.reallyDelete span:nth-of-type(2) {
	display: block;
	float: right;
	color: green;
	text-decoration: underline;
}

.reallyDelete span:nth-of-type(2):hover {
	color: limegreen;
}

/* override slot label format (column names) */ 
.fc-ltr .fc-time-area .fc-chrono th {
	text-align: center !important;
}

/* css spinner */
/* 
The MIT License (MIT)

Copyright (c) 2014 Luke Haas

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
*/

.cssSpinner {
    display: none;
    font-size: 10px;
    margin: 1px;
    text-indent: -9999em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background: #000000;
    background: -moz-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -webkit-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -o-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: -ms-linear-gradient(left, #000000 10%, rgba(0, 0, 0, 0) 42%);
    background: linear-gradient(to right, #000000 10%, rgba(0, 0, 0, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.cssSpinner:before {
    width: 50%;
    height: 50%;
    background: #000;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.cssSpinner:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.fc-button-group .cssSpinner{
	display: inline-block !important;
	position: absolute;
	left: -10px;
	top: 15px;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* end css spinner */

/*
    Begin css delete icon
*/

.cc-delete-icon {
    width: 25px;
    min-width: 25px;
    font-size: 15px;
    background-color: white;
    border: 0;
    color: #B9B9B9 !important;
    padding: 0 !important;
    text-align: center !important;
}
.cc-delete-icon:hover {
    color: crimson !important;
    background-color: white;
}

/*
    End css delete icon
*/

/* hide arrow for long events - displayed incorrectly in IE, edge */
.fc-event-container .fc-title:before,
.fc-following:before {
	display: none !important;
}

/* fix for next/prev buttons to show in Edge; issue fixed in fullcalendar 2.7.1 */
.fc-icon:after {
	margin-left: 0; /* for edge */
	margin-right: 0; /* for IE10 */
}

/* 
First run screen 
*/

.calendarTypeOption {
    display: inline-block;
    width: 230px;
    vertical-align: top;
    margin-top: 12px;
    margin-bottom: 50px;
    text-align: left;
}

.calendarTypeOption p {
    text-align: left;
    padding-left: 0;
    cursor: pointer;
    min-height: 34px;
    line-height: 30px;
}

.calendarTypeOption p input {
    margin: 0; /* otherwise incorrect vertical align */
    padding: 0;
    border: none;
}

.calendarTypeOption div {
    width: 200px;
    height: 200px;
    cursor: pointer;
    opacity: 0.8;
    display: block;
}

.calendarTypeOption div:hover {
    animation: brighten 0.6s;
    opacity: 1;
}

/* hover animation - make image brighter */
@keyframes brighten {
    from {opacity: 0.8;}
    to {opacity: 1;}
}

.calendarTypeOption:nth-of-type(1) div {
    background-image: url('../../Images/Calendar Types/calendarType1.png');
}

.calendarTypeOption:nth-of-type(2) div {
    background-image: url('../../Images/Calendar Types/calendarType2.png');
}

.calendarTypeOption:nth-of-type(3) div {
    background-image: url('../../Images/Calendar Types/calendarType3-bw.png');
}

.calendarTypeDescription {
    color: white; /* initially hidden */
    width: 200px;
    text-align: left;
    display: inline-block;
}

/* used in other places too*/
.buttonRow-right {
    margin-top: 25px;
    text-align: right;
    padding-right: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.buttonRow-left {
    margin-top: 25px;
    text-align: left;
    padding-right: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#firstRunScreen .buttonRow-right {
    bottom: 10px;
    right: 25px;
}

/*
 End first run screen 
*/

/* 
    Common UI element styles
*/
.fc-resource-area .fc-divider,
.fc-resource-area .fc-divider .fc-cell-text {
    cursor: pointer;
}

.cc-button-cancel {
    background-color: white;
    text-decoration: underline;
    color: #666;
    font-size: 110%;
    border: none;
    cursor: pointer;
}

.cc-button-cancel:hover {
    color: #0071bd;
    background-color: white;
}

.cc-confirm-delete-setting .cc-button-cancel:hover {
    color: crimson !important;
}

.cc-button-ok {
    background-color: #0071bd;
    color: white;
    border: 0;
    font-size: 110%;
}

.cc-button-ok:hover {
    background-color: #00adef;
}

.cc-button-ok:disabled {
    border: 1px solid #ddd;
}

.cc-button-danger {
    display: none;
    background-color: #f7f7f7;
    font-size: 110%;
}

.cc-button-danger:hover {
    background-color: crimson;
    border-color: #980f29;
    color: white;
}

.cc-edit-link {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
    vertical-align: middle;
}

.cc-edit-link:hover {
    color: #0071bd;
}

.cc-required::after {
    content: " *";
    color: #0071bd;
}

.cc-valign-top {
    vertical-align: top;
}

/* 
    End common UI element styles
*/

/*
    Begin New screen
*/

.currentUserName[disabled] {
    border: 1px solid transparent;
}

.currentUserName {
    width: 119px !important;
    border: 1px solid #666;
    cursor: default;
    background-color: white;
}

#PeopleEditor1 {
    display: inline-block;
    height: 88px;
}

#PeopleEditor1 > div {
    height: 88px;
}

#bookRoomScreen .formTravelType,
#bookCarScreen .formTravelType {
    width: 148px; /* +4 px compared to other inputs */
}

#bookRoomScreen .modalCol1 div:nth-of-type(4) {
    display: none; /* disabled subject field - no use */
}

textarea.notesRequirements {
    height: 88px;
    box-sizing: content-box; /* otherwise different width/height from within iframe */
}

div.resourceSelect,
div.handledbySelect {
    width: 345px;
}

select.resourceSelect,
select.handledbySelect {
    width: 329px;
    text-align: left; /* firefox shows right */
    /* fix for height variations in different browsers */
    height: 30px;
    line-height: 30px;
    box-sizing: content-box;
}

.resourceDescription {
    overflow: auto;
    height: 65px;
    text-align: left !important;
}

.cc-attendees-picker,
.cc-attendees-picker * {
    text-align: left !important;
}

.cc-attendees-picker label {
    min-width: 85px;
    margin-top: 0;
}

.modalCol1 > div,
.modalCol2 > div {
    margin-top: 12px;
}

.modalCol1 input {
    width: 140px;
    box-sizing: content-box; /* otherwise wrong size in iframe */
}

.modalCol1 textarea {
    width: 136px;
}

.modalCol2 > div {
    margin-right: 15px
}

.modalCol2 * {
    text-align: right;
}

div.resourceSelect {
    margin-top: 13px; /* 2px more than normal inputs for better alignment with left column */
}

/*
    End New screen
*/

/*
    Begin Settings screen
*/

.cc-tabs {
    width: 600px;
    min-height: 400px;
}

.cc-tab {
    display: none; 
    border: 1px solid #B9B9B9;
    margin-top: -1px;
    height: 350px;
    overflow: auto;
    padding-bottom: 10px; /* so that New button doesn't stick to bottom */
}

.cc-tab:first-child {
    display: block;
}

.cc-tab-bar {
    text-align: left;
}

.cc-tab-bar button {
    border: 1px solid #B9B9B9;
    margin: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(to bottom, #f7f7f7 0%, #f0f0f0 100%);
}

.cc-tab-bar button:hover {
    background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
}

.cc-tab-bar button:not(:first-child) {
    margin-left: -1px;
}

.cc-tab-bar button.cc-tab-active {
    background: white;
    color: #666;
    border-bottom: 1px solid white;
    outline: none;
}

.cc-tab-bar button.cc-tab-active:hover {
    background: white;
    color: #666;
    border-bottom: 1px solid white;
    outline: none;
}

.cc-tab-bar button.cc-tab-active:hover {
    background-color: white;
}

.cc-tab ul {
    text-align: left;
}

#cc-settings-screen .buttonRow-right {
    margin-right: 10px;
    bottom: 20px;
}

.cc-resources-list input,
.cc-types-list input {
    outline: none !important;
    box-sizing: content-box;
}

.cc-res-row,
.cc-colors-row {
    text-align: left;
    margin-left: 15px;
    position: relative;
}

.cc-res-row *,
.cc-colors-row * {
    height: 25px;
    padding-left: 25px;
    text-align: left;
    color: #444 !important;
    cursor: pointer;
}

.cc-res-row input:hover,
.cc-colors-row input:hover {
    color: black !important;
}

.cc-res-row input:focus,
.cc-colors-row input:focus {
    box-shadow: inset 0 0 3px rgba(0, 173, 239, 1);
}

.cc-res-row input[type=number]:focus {
    box-shadow: none; /* overlap with up-down buttons in number spinner */
    border-color: #aaa !important;
}

.cc-res-row input[readonly],
.cc-colors-row input[readonly] {
    background-color: white !important;
    border: 1px solid transparent !important;
    box-shadow: none;
}

.cc-colors-type {
    margin-right: 5px;
}

.cc-settings-list-header {
    text-align: left;
    margin-left: 15px;
}

.cc-settings-list-header span {
    display: inline-block;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.cc-res-department,
.cc-colors-type
 {
    width: 230px;
}

.cc-settings-list-header span:nth-child(1) {
    width: 226px;
}

.cc-res-resource,
.cc-settings-list-header span:nth-child(2) {
    width: 200px;
}

.cc-res-order,
.cc-settings-list-header span:nth-child(3) {
    width: 40px;
}

.cc-colors-colorcode {
    width: 70px;
    margin-left: 3px;
}

span.cc-colors-colorcode-sample {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin: 0; padding: 0;
    vertical-align: middle;
    border-radius: 50%;
}

.cc-add-row {
    margin-top: 10px;
    text-align: left;
}

.cc-confirm-delete-setting {
    background-color: white;
    border: 2px solid crimson;
    color: white !important;
    display: none;
    height: 95px;
    padding: 5px;
}

.cc-buttonsRow-center {
    padding: 5px;
    text-align: center;
}

.cc-buttonsRow-center button {
    text-align: center;
    height: 32px;
    padding: 6px;

}

.cc-buttonsRow-center button.cc-button-ok {
    color: white !important;
}

.cc-setting-save-status-icon {
    display: none;
    position: absolute;
    left: -11px;
    top: 9px;
    font-family: fontawesome !important;
    padding: 0;
    font-size: 14px;
    text-shadow: 1px 1px 4px #aaa;
}

.cc-setting-saved {
    color: yellowgreen !important;
}

.cc-setting-error-saving {
    color: crimson !important;
}

#gplv3details {
    display: none;
    padding-left: 30px;
    border: 1px solid #ddd;
    margin: 6px;
    border-radius: 5px;
}

.cc-align-left {
    text-align: left;
}

.cc-align-center {
    text-align: center;
}

#cc-more-link {
    text-decoration: underline;
    cursor: pointer;
}

.cc-inline-block {
    display: inline-block;
    border: 1px solid #E0E0E0;
    padding: 8px;
    border-radius: 6px;
}

.cc-inline-block p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.cc-inline-block ul {
    list-style: square;
    margin-bottom: 1px;
    font-size: 11px;
}

.celgo-logo {
    display:inline-block;
    width: 102px;
    height: 102px;
    background-image: url('../../Images/Celgo.png');
}

/*
    End Settings screen
*/

/* input elements */
input, textarea, select,
textarea.ms-inputuserfield,
div.ms-inputuserfield,
div.sp-peoplepicker-topLevel {
    border-radius: 5px;
    border: 1px solid #b9b9b9;
    min-height: 28px;
    padding-left: 6px;
}

select {
    padding-left: 4px;
}

input:focus, textarea:focus, select:focus,
textarea.ms-inputuserfield:focus,
div.ms-inputuserfield:focus {
    box-shadow: 0 0 8px rgba(0, 173, 239, 1);
    border-color: transparent !important; /* otherwise box shadow will be rectangular, it does not honour rounded borders */
}

/* this shadow looks bad on checkboxes */
input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: none;
}

input[type=checkbox] {
    border: none;
}


/* input elements end */

/* fix bug - no bottom border on last row */
tr[data-resource-id]:last-child > td > div {
    border-bottom: 1px solid #ddd;
    margin-bottom: -1px;
}

.cc-edit-form-color-sampler {
    position: absolute;
    display: inline-block;
    top: 4px;
    right: 0;
    height: 12px;
    width: 12px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
}

label {
    position: relative; /* for positioning a color sampler inside a label */
}

.fc-event-container .fc-content {
    text-overflow: ellipsis;
}

.qtip {
    font-size: 12px !important;
    line-height: 14px !important;
}

.scheduleFormInputRow {
    text-align: left;
}

.scheduleFormInputRow .formStartDate,
.scheduleFormInputRow .formEndDate {
    min-width: 140px !important;
    width: 140px !important;
}

.fullDayCheckbox {
    height: auto !important;
    width: auto !important;
    min-width: 10px !important; /* problem if set to auto in iOS/safari */
}

.fullDayCheckbox + label {
    min-width: 40px; /* problem if set to auto in iOS/safari */
    width: auto;
}

/* fix for clicking on people picker dropdown causes dialog to close */
/* didn't help*/
/*
.sp-peoplepicker-autoFillContainer {
    -ms-touch-action: none; 
}
*/

@keyframes animateViewButtons {
    from {background-color: #aaa;} /* because #aaa is hover color */
    to {background-color: #666;}
}

@keyframes reverseAnimateViewButtons {
    from {background-color: #666;}
    to {background-color: white;}
}

.fc-right .fc-button:not(.fc-state-active) {
    animation-duration: 0.6s;
    animation-name: reverseAnimateViewButtons;
}

.fc-right .fc-button.fc-state-active {
    animation-duration: 0.6s;
    animation-name: animateViewButtons;
}

@keyframes animateViewButtonHover {
    from {background-color: white; color:#666; }
    to {background-color: #aaa; color: white;}
}

.fc-right .fc-button:not(.fc-state-active):hover {
    animation-duration: 0.15s;
    animation-name: animateViewButtonHover;
}

/* bug in edge, event title showing as link on drag */
a.fc-event.fc-draggable:active {
    text-decoration: none;
    color: white;
}